.f1
{
    width:1500px;
    border:2px solid black;
    background-color:lightgray;
    position:absolute;
    left:50px;
    top:260px;
    height:450px;
}

.f2
{
    margin-Left:650px;
    margin-Right:10px;
    width:200px;
    margin-top:30px;

}

.f3
{
    margin-Left:650px;
    margin-top:10px;
    width:200px;
    margin-top:30px;
}
