body
{
  background-color:purple;
}

.column {
  display: flex;
  flex-direction: column;

}


.signup {
  margin-left:23%;
  background-color:white;
  margin-top: 12%;
  padding: 5%;
  
  height: 400px;
  width:900px;
}

  /* //margin-left:31.5%; */

  .ch{
top:5px;
    position:absolute;
    left:600px;
   
    width:100px;
    height:300px;


  }

input {
  background-color: whitesmoke;
  border: 2px solid black;
  font-size: 20px;
  height: 40px;
  width:380px;
  margin: 5px;
  padding: 5px;
  margin-left: 170px;
  
  
}
.a
{
  position:absolute;
  left:600px;
  top:30px;
  font-Size:50px;
  color:white;

}

.b
{
  height: 220px;
  width:410px;
   position:absolute;
   top:150px;
   left:100px;
}



.d
{
  font-Size:40px;
  position:absolute;
  top:640px;
color:white;
  left:500px;
}

.t
{
  position:absolute;
  top:100px;
}
