.f
{
    height:500px;
    width:500px;
    position:absolute;
    left:35%;
    top:20%;
    top:10%;
}

.l
{
    color:white;
    left:10%;
    position:absolute;
    top:77%
}

.k
{
    color:white;
    left:23%;
    position:absolute;
    top:90%
}
.butt{
    left:37%;
    position:absolute;
    top:93%
}