.header {
  background-color:white;
  display: flex;
  padding: 8px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}


.nav_buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
