.rowcss
{
    text-Align:left;
    border:1px solid black;
    text-align:center;
    width:60px;
    font-size: 15px;
    height:30px;

}
.stockreportdata__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.stockreportdata__container .button{
margin: 2rem;
}